
.react-pro-sidebar .pro-menu-item:hover {
    background-color: #555555 !important;
  }
  

  .sidebar {
    position: fixed;
    z-index: 1000;
  }
  

.react-pro-sidebar .pro-menu-item:hover {
  background-color: #6b6a6a !important;
}
